[Unit]
Description=Minecraft Docker
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/user/Minecraft-Server/
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target